In [141]:
import pandas as pd

In [142]:
Sales =pd.read_csv(r"D:\DEMO\Sales.csv")

In [143]:
Officers= pd.read_csv(r"D:\DEMO\Officers.csv")

In [144]:
print(Sales)

                           Region         Country        Item Type  \
0              Sub-Saharan Africa   Cote d'Ivoire          Clothes
1           Australia and Oceania            Fiji          Clothes
2                          Europe         Austria        Cosmetics
3                          Europe  United Kingdom        Household
4              Sub-Saharan Africa        Djibouti        Cosmetics
..                            ...             ...              ...
479                        Europe        Slovenia        Beverages
480            Sub-Saharan Africa    Sierra Leone  Office Supplies
481         Australia and Oceania       Australia        Beverages
482  Middle East and North Africa      Azerbaijan  Office Supplies
483                        Europe         Romania        Cosmetics

    Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0          Online              C  06-08-2012  114606559   6/27/2012
1         Offline              C   6/30/2010  647876489  08-01-2010
2         Offline              H   2/23/2015  868214595  03-02-2015
3          Online              L  01-05-2012  955357205   2/14/2012
4         Offline              H  04-07-2014  259353148   4/19/2014
..            ...            ...         ...        ...         ...
479       Offline              C  10/23/2016  345718562  11/25/2016
480       Offline              H  12-06-2016  621386563  12/14/2016
481       Offline              H  07-07-2014  240470397  07-11-2014
482        Online              M   6/13/2012  423331391   7/24/2012
483        Online              H  11/26/2010  660643374  12/25/2010

     Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  \
0          3482      109.28      35.84      380512.96   124794.88
1          9905      109.28      35.84     1082418.40   354995.20
2          2847      437.20     263.33     1244708.40   749700.51
3           282      668.27     502.54      188452.14   141716.28
4          7215      437.20     263.33     3154398.00  1899925.95
..          ...         ...        ...            ...         ...
479        4660       47.45      31.79      221117.00   148141.40
480         948      651.21     524.96      617347.08   497662.08
481        9389       47.45      31.79      445508.05   298476.31
482        2021      651.21     524.96     1316095.41  1060944.16
483        7910      437.20     263.33     3458252.00  2082940.30

     Total Profit
0       255718.08
1       727423.20
2       495007.89
3        46735.86
4      1254472.05
..            ...
479      72975.60
480     119685.00
481     147031.74
482     255151.25
483    1375311.70

[484 rows x 14 columns]

In [145]:
CH_Sales = Sales[Sales['Order Priority'].isin(['C', 'H','M'])]

In [146]:
Country_Sales = (CH_Sales.groupby(['Country', 'Item Type'])['Total Profit'].sum().unstack(fill_value=0))/1000
print(Country_Sales)

Item Type        Baby Food   Beverages     Cereal    Clothes   Cosmetics  \
Country
Albania            0.00000     0.00000    0.00000  666.54144     0.00000
Angola             0.00000     0.00000    0.00000    0.00000     0.00000
Australia          0.00000  1029.22218  362.51028    0.00000     0.00000
Austria            0.00000     0.00000    0.00000    0.00000  2475.03945
Azerbaijan         0.00000     0.00000    0.00000    0.00000  3773.32674
...                    ...         ...        ...        ...         ...
The Gambia      3730.20018     0.00000  562.63509    0.00000     0.00000
Turkmenistan       0.00000     0.00000    0.00000    0.00000     0.00000
Tuvalu          3805.64200     0.00000    0.00000    0.00000     0.00000
United Kingdom     0.00000     0.00000    0.00000    0.00000     0.00000
Zambia             0.00000     0.00000    0.00000    0.00000     0.00000

Item Type       Fruits   Household      Meat  Office Supplies  Personal Care  \
Country
Albania            0.0     0.00000    0.0000          0.00000            0.0
Angola             0.0  2775.64604    0.0000          0.00000            0.0
Australia          0.0     0.00000    0.0000       1107.46500            0.0
Austria            0.0     0.00000    0.0000          0.00000            0.0
Azerbaijan         0.0     0.00000    0.0000       1786.05875            0.0
...                ...         ...       ...              ...            ...
The Gambia         0.0     0.00000  818.0172          0.00000            0.0
Turkmenistan       0.0     0.00000    0.0000       3795.07500            0.0
Tuvalu             0.0     0.00000    0.0000          0.00000            0.0
United Kingdom     0.0    46.73586    0.0000          0.00000            0.0
Zambia             0.0     0.00000    0.0000          0.00000            0.0

Item Type         Snacks  Vegetables
Country
Albania           0.0000         0.0
Angola            0.0000         0.0
Australia         0.0000         0.0
Austria           0.0000         0.0
Azerbaijan        0.0000         0.0
...                  ...         ...
The Gambia        0.0000         0.0
Turkmenistan      0.0000         0.0
Tuvalu            0.0000         0.0
United Kingdom    0.0000         0.0
Zambia          225.2469         0.0

[68 rows x 12 columns]

In [147]:
Country_Sales['Total'] = Country_Sales.sum(axis=1)
print(Country_Sales)

Item Type        Baby Food   Beverages     Cereal    Clothes   Cosmetics  \
Country
Albania            0.00000     0.00000    0.00000  666.54144     0.00000
Angola             0.00000     0.00000    0.00000    0.00000     0.00000
Australia          0.00000  1029.22218  362.51028    0.00000     0.00000
Austria            0.00000     0.00000    0.00000    0.00000  2475.03945
Azerbaijan         0.00000     0.00000    0.00000    0.00000  3773.32674
...                    ...         ...        ...        ...         ...
The Gambia      3730.20018     0.00000  562.63509    0.00000     0.00000
Turkmenistan       0.00000     0.00000    0.00000    0.00000     0.00000
Tuvalu          3805.64200     0.00000    0.00000    0.00000     0.00000
United Kingdom     0.00000     0.00000    0.00000    0.00000     0.00000
Zambia             0.00000     0.00000    0.00000    0.00000     0.00000

Item Type       Fruits   Household      Meat  Office Supplies  Personal Care  \
Country
Albania            0.0     0.00000    0.0000          0.00000            0.0
Angola             0.0  2775.64604    0.0000          0.00000            0.0
Australia          0.0     0.00000    0.0000       1107.46500            0.0
Austria            0.0     0.00000    0.0000          0.00000            0.0
Azerbaijan         0.0     0.00000    0.0000       1786.05875            0.0
...                ...         ...       ...              ...            ...
The Gambia         0.0     0.00000  818.0172          0.00000            0.0
Turkmenistan       0.0     0.00000    0.0000       3795.07500            0.0
Tuvalu             0.0     0.00000    0.0000          0.00000            0.0
United Kingdom     0.0    46.73586    0.0000          0.00000            0.0
Zambia             0.0     0.00000    0.0000          0.00000            0.0

Item Type         Snacks  Vegetables       Total
Country
Albania           0.0000         0.0   666.54144
Angola            0.0000         0.0  2775.64604
Australia         0.0000         0.0  2499.19746
Austria           0.0000         0.0  2475.03945
Azerbaijan        0.0000         0.0  5559.38549
...                  ...         ...         ...
The Gambia        0.0000         0.0  5110.85247
Turkmenistan      0.0000         0.0  3795.07500
Tuvalu            0.0000         0.0  3805.64200
United Kingdom    0.0000         0.0    46.73586
Zambia          225.2469         0.0   225.24690

[68 rows x 13 columns]

In [148]:
print(Officers)

    first_name  last_name               Distributor_name        Item Type  \
0        James       Butt              Benton, John B Jr          Clothes
1    Josephine    Darakjy          Chanay, Jeffrey A Esq          Clothes
2          Art     Venere            Chemel, James L Cpa        Cosmetics
3        Lenna   Paprocki         Feltz Printing Service        Household
4      Donette     Foller            Printing Dimensions        Cosmetics
..         ...        ...                            ...              ...
495    Brittni  Gillaspie                    Inner Label    Personal Care
496    Raylene      Kampa                     Hermar Inc          Clothes
497        Flo   Bookamer   Simonton Howe & Schneider Pc  Office Supplies
498       Jani      Biddy  Warehouse Office & Paper Prod          Clothes
499   Chauncey     Motley     Affiliated With Travelodge  Office Supplies

                  address         city                Country state    zip  \
0      6649 N Blue Gum St  New Orleans                 Tuvalu    LA  70116
1     4 B Blue Ridge Blvd     Brighton                Grenada    MI  48116
2    8 W Cerritos Ave #54   Bridgeport                 Russia    NJ   8014
3             639 Main St    Anchorage  Sao Tome and Principe    AK  99501
4            34 Center St     Hamilton                 Rwanda    OH  45011
..                    ...          ...                    ...   ...    ...
495            67 Rv Cent        Boise                   Mali    ID  83709
496        2 Sw Nyberg Rd      Elkhart               Malaysia    IN  46514
497       89992 E 15th St     Alliance           Sierra Leone    NE  69301
498      61556 W 20th Ave      Seattle                 Mexico    WA  98104
499        63 E Aurora Dr      Orlando             Mozambique    FL  32804

           phone1        phone2                          email
0    504-621-8927  504-845-1427                jbutt@gmail.com
1    810-292-9388  810-374-9840  josephine_darakjy@darakjy.org
2    856-636-8749  856-264-4130                 art@venere.org
3    907-385-4412  907-921-2010          lpaprocki@hotmail.com
4    513-570-1893  513-549-4561         donette.foller@cox.net
..            ...           ...                            ...
495  208-709-1235  208-206-9848       bgillaspie@gillaspie.com
496  574-499-1454  574-330-1884               rkampa@kampa.org
497  308-726-2182  308-250-6987           flo.bookamer@cox.net
498  206-711-6498  206-395-6284               jbiddy@yahoo.com
499  407-413-4842  407-557-8857        chauncey_motley@aol.com

[500 rows x 12 columns]

In [149]:
Country_Officers = Officers.groupby(['Country', 'Item Type'])['first_name'].count().unstack(fill_value=0)
print(Country_Officers)

Item Type       Baby Food  Beverages  Cereal  Clothes  Cosmetics  Fruits  \
Country
Albania                 1          0       0        1          0       0
Angola                  1          1       0        0          0       0
Australia               1          1       3        1          1       1
Austria                 1          1       0        0          1       1
Azerbaijan              1          0       0        3          0       2
...                   ...        ...     ...      ...        ...     ...
The Gambia              3          1       0        4          2       0
Turkmenistan            1          1       2        1          1       0
Tuvalu                  1          0       0        2          0       1
United Kingdom          0          0       0        0          1       2
Zambia                  0          0       1        0          1       1

Item Type       Household  Meat  Office Supplies  Personal Care  Snacks  \
Country
Albania                 2     1                0              0       0
Angola                  2     0                0              0       0
Australia               1     0                4              1       0
Austria                 0     0                0              1       0
Azerbaijan              1     0                1              1       0
...                   ...   ...              ...            ...     ...
The Gambia              4     0                2              1       1
Turkmenistan            1     0                3              0       0
Tuvalu                  0     0                0              0       1
United Kingdom          2     0                0              0       0
Zambia                  0     0                0              1       1

Item Type       Vegetables
Country
Albania                  0
Angola                   1
Australia                1
Austria                  0
Azerbaijan               1
...                    ...
The Gambia               2
Turkmenistan             0
Tuvalu                   0
United Kingdom           0
Zambia                   0

[76 rows x 12 columns]

In [150]:
Country_Officers['Total']= Country_Officers.sum(axis=1)
print(Country_Officers)

Item Type       Baby Food  Beverages  Cereal  Clothes  Cosmetics  Fruits  \
Country
Albania                 1          0       0        1          0       0
Angola                  1          1       0        0          0       0
Australia               1          1       3        1          1       1
Austria                 1          1       0        0          1       1
Azerbaijan              1          0       0        3          0       2
...                   ...        ...     ...      ...        ...     ...
The Gambia              3          1       0        4          2       0
Turkmenistan            1          1       2        1          1       0
Tuvalu                  1          0       0        2          0       1
United Kingdom          0          0       0        0          1       2
Zambia                  0          0       1        0          1       1

Item Type       Household  Meat  Office Supplies  Personal Care  Snacks  \
Country
Albania                 2     1                0              0       0
Angola                  2     0                0              0       0
Australia               1     0                4              1       0
Austria                 0     0                0              1       0
Azerbaijan              1     0                1              1       0
...                   ...   ...              ...            ...     ...
The Gambia              4     0                2              1       1
Turkmenistan            1     0                3              0       0
Tuvalu                  0     0                0              0       1
United Kingdom          2     0                0              0       0
Zambia                  0     0                0              1       1

Item Type       Vegetables  Total
Country
Albania                  0      5
Angola                   1      5
Australia                1     15
Austria                  0      5
Azerbaijan               1     10
...                    ...    ...
The Gambia               2     20
Turkmenistan             0     10
Tuvalu                   0      5
United Kingdom           0      5
Zambia                   0      5

[76 rows x 13 columns]

In [151]:
Country_Sales_reset = Country_Sales.reset_index()
Country_Officers_reset = Country_Officers.reset_index()

# Rename first column to 'Country' if needed
Country_Sales_reset.rename(columns={Country_Sales_reset.columns[0]: 'Country'}, inplace=True)
Country_Officers_reset.rename(columns={Country_Officers_reset.columns[0]: 'Country'}, inplace=True)

merged = pd.merge(
    Country_Sales_reset,
    Country_Officers_reset,
    on='Country',
    how='outer',
    suffixes=('_Profit', '_UsedResources')
)

In [152]:
import pandas as pd

# Calculate sum for all numeric columns
grand_total = merged.select_dtypes(include='number').sum()

# Create a DataFrame for the total row, keep the same columns and add a label for Region/Unit
total_row = pd.DataFrame(grand_total).T  # transpose to get 1 row
total_row.index = ['Grand Total']

# If you have a Region or Unit column (non-numeric), add it manually
# For example, if the first column is 'Region' or 'Unit':
total_row['Country'] = 'Grand Total'

# Reorder columns so 'Region' is first (adjust if your label column name is different)
cols = merged.columns.tolist()
cols.remove('Country')  # remove to reinsert at front
cols = ['Country'] + cols
total_row = total_row[cols]

# Append total row to original DataFrame
Report = pd.concat([merged, total_row], ignore_index=False)

In [153]:
print(Report)

Item Type           Country  Baby Food_Profit  Beverages_Profit  \
0                   Albania           0.00000           0.00000
1                    Angola           0.00000           0.00000
2                 Australia           0.00000        1029.22218
3                   Austria           0.00000           0.00000
4                Azerbaijan           0.00000           0.00000
...                     ...               ...               ...
72             Turkmenistan           0.00000           0.00000
73                   Tuvalu        3805.64200           0.00000
74           United Kingdom           0.00000           0.00000
75                   Zambia           0.00000           0.00000
Grand Total     Grand Total       15855.14814        5422.63518

Item Type    Cereal_Profit  Clothes_Profit  Cosmetics_Profit  Fruits_Profit  \
0                  0.00000       666.54144           0.00000        0.00000
1                  0.00000         0.00000           0.00000        0.00000
2                362.51028         0.00000           0.00000        0.00000
3                  0.00000         0.00000        2475.03945        0.00000
4                  0.00000         0.00000        3773.32674        0.00000
...                    ...             ...               ...            ...
72                 0.00000         0.00000           0.00000        0.00000
73                 0.00000         0.00000           0.00000        0.00000
74                 0.00000         0.00000           0.00000        0.00000
75                 0.00000         0.00000           0.00000        0.00000
Grand Total    10636.73553     17964.30528       68893.90106      237.36572

Item Type    Household_Profit  Meat_Profit  Office Supplies_Profit  ...  \
0                     0.00000       0.0000                 0.00000  ...
1                  2775.64604       0.0000                 0.00000  ...
2                     0.00000       0.0000              1107.46500  ...
3                     0.00000       0.0000                 0.00000  ...
4                     0.00000       0.0000              1786.05875  ...
...                       ...          ...                     ...  ...
72                    0.00000       0.0000              3795.07500  ...
73                    0.00000       0.0000                 0.00000  ...
74                   46.73586       0.0000                 0.00000  ...
75                    0.00000       0.0000                 0.00000  ...
Grand Total       22912.83542     818.0172             21878.87250  ...

Item Type    Clothes_UsedResources  Cosmetics_UsedResources  \
0                              1.0                      0.0
1                              0.0                      0.0
2                              1.0                      1.0
3                              0.0                      1.0
4                              3.0                      0.0
...                            ...                      ...
72                             1.0                      1.0
73                             2.0                      0.0
74                             0.0                      1.0
75                             0.0                      1.0
Grand Total                   72.0                     72.0

Item Type    Fruits_UsedResources  Household_UsedResources  \
0                             0.0                      2.0
1                             0.0                      2.0
2                             1.0                      1.0
3                             1.0                      0.0
4                             2.0                      1.0
...                           ...                      ...
72                            0.0                      1.0
73                            1.0                      0.0
74                            2.0                      2.0
75                            1.0                      0.0
Grand Total                  43.0                     42.0

Item Type    Meat_UsedResources  Office Supplies_UsedResources  \
0                           1.0                            0.0
1                           0.0                            0.0
2                           0.0                            4.0
3                           0.0                            0.0
4                           0.0                            1.0
...                         ...                            ...
72                          0.0                            3.0
73                          0.0                            0.0
74                          0.0                            0.0
75                          0.0                            0.0
Grand Total                 7.0                           60.0

Item Type    Personal Care_UsedResources  Snacks_UsedResources  \
0                                    0.0                   0.0
1                                    0.0                   0.0
2                                    1.0                   0.0
3                                    1.0                   0.0
4                                    1.0                   0.0
...                                  ...                   ...
72                                   0.0                   0.0
73                                   0.0                   1.0
74                                   0.0                   0.0
75                                   1.0                   1.0
Grand Total                         43.0                  14.0

Item Type    Vegetables_UsedResources  Total_UsedResources
0                                 0.0                  5.0
1                                 1.0                  5.0
2                                 1.0                 15.0
3                                 0.0                  5.0
4                                 1.0                 10.0
...                               ...                  ...
72                                0.0                 10.0
73                                0.0                  5.0
74                                0.0                  5.0
75                                0.0                  5.0
Grand Total                      31.0                500.0

[77 rows x 27 columns]

In [162]:
import datetime

# Get today's date in YYYYMMDD format
today = datetime.datetime.now().strftime('%d.%m.%Y')

Report.to_excel(f'D:\\DEMO\\Analysis_Report_{today}.xlsx', index=False)

import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import Font, PatternFill, Alignment, Border, Side
from openpyxl.utils import get_column_letter
import datetime

# Export merged DataFrame to Excel
file_path = f'D:\\DEMO\\Analysis_Report_{today}.xlsx'

# Load workbook and active sheet for styling
wb = load_workbook(file_path)
ws = wb.active

# Define styles
pink_fill = PatternFill(start_color="F2DCDB", fill_type="solid")  # light pink
blue_fill = PatternFill(start_color="D9E1F2", fill_type="solid")  # light blue
bold_font = Font(bold=True)
center_align = Alignment(horizontal="center", vertical="center")
thin_border = Border(
    left=Side(style='thin'),
    right=Side(style='thin'),
    top=Side(style='thin'),
    bottom=Side(style='thin')
)

# Find the columns in Excel by their headers
headers = [cell.value for cell in ws[1]]

# Apply header formatting: pink fill for '_Profit' columns, blue for '_UsedResources'
for col_idx, header in enumerate(headers, start=1):
    cell = ws.cell(row=1, column=col_idx)
    cell.font = bold_font
    cell.alignment = center_align
    cell.border = thin_border
    
    if header is None:
        continue
    if header.endswith('_Profit'):
        cell.fill = pink_fill
    elif header.endswith('_UsedResources'):
        cell.fill = blue_fill
    else:
        # Normal header color or white fill
        cell.fill = PatternFill(start_color="FFFFFF", fill_type="solid")

# Format all data rows: center alignment, borders, number formatting for numbers
for row in ws.iter_rows(min_row=2, max_row=ws.max_row, min_col=1, max_col=ws.max_column):
    for cell in row:
        cell.alignment = center_align
        if isinstance(cell.value, (int, float)):
            cell.number_format = "0.0"
        cell.border = thin_border

# Save the styled file
wb.save(file_path)